.dialogs {
    display: grid;
    grid-template-columns: auto 80%;
}

.dialogs .dialog_items {
    padding: 10px;
}

.dialog_items.active,
.dialog_items:hover {
    color: rgb(116, 128, 156);
}

.messages {
    padding: 10px;
}