.current_user_message {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.user_message {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.message_content {
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    word-wrap: break-word;
}

.current_user_message .message_content {
    background-color: #DCF8C6;
    color: #000;
}

.user_message .message_content {
    background-color: #E8EAF6;
    color: #000;
}

.user_message img,
.current_user_message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.message_content p {
    margin: 0 0 5px 0;
}

.message_content span {
    font-size: 12px;
    color: #666;
}

.message_input_container {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.message_input {
    width: 80%;
    height: 50px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
    margin-right: 10px;
    outline: none;
    transition: all 0.3s ease;
}

.message_input:focus {
    border-color: #007bff;
}

.send_button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.send_button:hover {
    background-color: #0056b3;
}